<header>
<nav class="nav-menu">
    <ul>
        <li class = "nav-item">
            <a routerLink="" routerLinkActive="active" class="nav-link" >Accueil</a>
        </li>
        <li class = "nav-item">
            <a routerLink="Listdesproduits" routerLinkActive="active" class="nav-link" >Liste des produits</a>
        </li>
        <li class = "nav-item">
            <a routerLink="enregistrerproduit"  routerLinkActive="active" class="nav-link" >Ajouter Produit </a>
        </li>
    </ul>
</nav>
</header>

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
    <router-outlet></router-outlet>

</div>
<footer class = "footer">
    <div class = "container">
        <span>All Rights Reserved 2020 @JavaGuides</span>
    </div>
</footer>
  
